# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Node
node_modules/
build/
dist/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data (if large)
data/*.csv
data/*.xlsx
data/*.pkl